# docker-compose.yml
# 기술 스택 결정 후 내용 작성

version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    # volumes:
    #   - .:/app
    # depends_on:
    #   - db

  # db:
  #   image: postgres:15-alpine
  #   environment:
  #     POSTGRES_DB: hankaebom
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #   volumes:
  #     - db_data:/var/lib/postgresql/data

# volumes:
#   db_data:
